<div class="customBckImg container-fluid">
    <div class="row ht-100v flex-row-reverse no-gutters">
        <div class="col-md-12 d-flex justify-content-center align-items-center">
            <div class="signup-form">
                <div class="auth-logo text-center mb-5">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="~/Template/assets/images/westcliff-logo.png" class="logo-img customLogoResize" alt="Logo">
                        </div>
                        <div class="col-md-10">
                            <p>Westcliff Social App</p>
                            <span>Management System</span>
                        </div>
                    </div>
                </div>
                <form action="" method="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" name="" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="password" class="form-control" name="" placeholder="Password">
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <a href="forgot-password.html">Forgot password?</a>
                        </div>
                        <div class="col-md-6">
                            <label class="custom-control material-checkbox">
                                <input type="checkbox" class="material-control-input">
                                <span class="material-control-indicator"></span>
                                <span class="material-control-description">Remember Me</span>
                            </label>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary sign-up">Sign In</button>
                            </div>
                        </div>
                     
                        <div class="col-md-12 text-center mt-5">
                            <span class="go-login">Not yet a member? <a href="sign-up.html">Sign Up</a></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<style>
    .customBckImg{
        background-image: url('/Template/assets/images/background/westcliff_Background3.jpg');
    }

    .customLogoResize{
        width: 90px;
        height: 64px;
    }
</style>