<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Social_Networking_App.Web</title>
  @*   <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Social_Networking_App.Web.styles.css" asp-append-version="true" /> *@

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@1.9.2/css/boxicons.min.css' rel='stylesheet'>

    <!-- Styles -->
    <link href="~/Template/assets/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="~/Template/assets/css/style.css" rel="stylesheet">
    <link href="~/Template/assets/css/components.css" rel="stylesheet">
    <link href="~/Template/assets/css/auth.css" rel="stylesheet">
    <link href="~/Template/assets/css/forms.css" rel="stylesheet">
    <link href="~/Template/assets/css/media.css" rel="stylesheet">


</head>
<body>
    <header>
        @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Social_Networking_App.Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> *@
       @*  <partial name="_LoginPartial.cshtml" /> *@
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

  @*   <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Social_Networking_App.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div> 
    </footer> *@
   @*  <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@

    <!-- Core -->
    <script src="~/Template/assets/js/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Template/assets/js/popper/popper.min.js"></script>
    <script src="~/Template/assets/js/bootstrap/bootstrap.min.js"></script>

@*     <!-- Optional -->
    <script src="assets/js/app.js"></script> *@

    @await RenderSectionAsync("Scripts", required: false)
   @await Component.InvokeAsync("Notyf") 
</body>
</html>
